<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="jumbotron" id="profile">
            <%= image_tag((current_user.profile.image || "http://placehold.it/200x200"), width: "200px", height:"200px") %>
                <div class="profile_text">
                    <h1><%= current_user.profile.first_name || "First Name" %> <%= current_user.profile.last_name || "Last Name" %></h1>
                    <% if current_user.profile.school %>
                      <h3><%= current_user.profile.school%></h3>
                    <% end %>
                    <% if current_user.profile.expected_graduation %>
                      <h3>Class of  <%= current_user.profile.expected_graduation %></h3>
                    <% end %>
                    <% unless current_user.profile.city.empty? %>
                      <h3><%= current_user.profile.city%>,
                    <% end %> 
                    <% unless current_user.profile.state.empty? %>
                      <%= current_user.profile.state%>
                    <% end %>
                      </h3>
                    <%= link_to("Edit", edit_profile_path(current_user.profile),
                  class: "btn btn-warning") %>
                </div>
        </div>
  </div>
</div>