<h1>Profiles#show</h1>
<p>Find me in app/views/profiles/show.html.erb</p>

<div>
  <div> 
    Name: <%= @profile.first_name %> <%= @profile.last_name %>
    School: <%= @profile.school%>
    Graduation Date:<%= @profile.expected_graduation %>
    City: <%= @profile.city %>
    State: <%= @profile.state %>
  <div>
<div>



<%= link_to("Edit", edit_profile_path(@profile),
  class: "btn btn-warning") %>
