<div class="container">
  <h1 class="landing_page_header"> Track your high school highlights and get into better colleges. </h1>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8">

     <canvas class="landing_page_img" width="480px" height="240px"id="landing_chart"> </canvas>
    </div>

    <form class="form-horizontal" role="form">
      <div class="form-group">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <!-- <div class="panel-body" id="signup_form"> -->
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
        

                <div class="form-group">
                <%= f.email_field :email, :class => "form-control", :placeholder => "email" %>
                </div>

                <div class="form-group">
                <%= f.password_field :password, :class => "form-control", :placeholder => "password" %>
                </div>


                <div class="form-group">
                <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "re-enter password" %>
                 </div>

                <%= f.submit "Create my account", :class => "btn btn-large btn-primary" %>
              <% end %>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container">
        <h1 id="timeline">Track your stats and get in.</h1>
    <ul class="timeline">
        <li>
          <div class="timeline-badge primary"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Joined Get In!</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
            </div>
            <div class="timeline-body">
              <p> Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge primary"><i class="glyphicon glyphicon-book"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">My Courses</h4>
            </div>
            <div class="timeline-body">
              <p> Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. .</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary"><i class="glyphicon glyphicon-briefcase"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Sports</h4>
            </div>
            <div class="timeline-body">
              <p>Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Championships</h4>
            </div>
            <div class="timeline-body">
              <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge primary"><i class="glyphicon glyphicon-star-empty"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Highlights</h4>
            </div>
            <div class="timeline-body">
              <p>Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
              <hr>
              <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Mussum ipsum cacilds</h4>
            </div>
            <div class="timeline-body">
              <p> Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge primary"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Accepted!</h4>
            </div>
            <div class="timeline-body">
              <p> Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
            </div>
          </div>
        </li>
    </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-1 col-md-3"></div>
    <div class="col-xs-10 col-md-6 center_form">
      <form class="form-horizontal" role="form">
          <div class="form-group">
            
              <!-- <div class="panel-body" id="signup_form"> -->
                  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>
            

                    <div class="form-group">
                    <%= f.email_field :email, :class => "form-control", :placeholder => "email" %>
                    </div>

                    <div class="form-group">
                    <%= f.password_field :password, :class => "form-control", :placeholder => "password" %>
                    </div>


                    <div class="form-group">
                    <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "re-enter password" %>
                     </div>

                    <%= f.submit "Create my account", :class => "btn btn-large btn-primary" %>
                  <% end %>
            </div>
          </form>
      </div>
    </div>
  </div>

  <script>

var data = [
  {
    value: 30,
    color:"#F7464A"
  },
  {
    value : 50,
    color : "#E2EAE9"
  },
  {
    value : 100,
    color : "#D4CCC5"
  },
  {
    value : 40,
    color : "#949FB1"
  },
  {
    value : 120,
    color : "#4D5360"
  }

]
  var ctx = $("#landing_chart").get(0).getContext("2d");
  new Chart(ctx).Doughnut(data);
  </script>



