<div class="container">
  <h1 class="landing_page_header"> Track your high school highlights and get into better colleges. </h1>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-8">

     <canvas class="landing_page_img" width="480px" height="240px"id="landing_chart"> </canvas>

    </div>
    

      <div class="form-group">
        <div class="col-xs-1 col-md-3 col-lg-4"></div>
        <div class="col-xs-10 col-md-4 col-lg-4">
          <!-- <div class="panel-body" id="signup_form"> -->
              <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>
                <div class="form-group">
                  <%= f.email_field :email, :class => "form-control", :placeholder => "email" %>
                </div>

                <div class="form-group">
                  <%= f.password_field :password, :class => "form-control", :placeholder => "password" %>
                </div>
  
                <div class="form-group">
                  <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "re-enter password" %>
                </div>

                <div class="form-group">
                  <%= f.submit "Create my account", :class => "btn btn-large btn-primary form-control"  %>
                </div>
              <% end %>
        </div>
      </div>

  </div>
</div>

<div class="container">
        <h1 id="timeline">Track your stats and get in.</h1>
    <ul class="timeline">
        <li style="width:100%;">
          <div class="timeline-badge primary"><i id="glyph-white" class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Freshman Year, time to Get In!</h4>
              
            </div>
            <div class="timeline-body">
              <p> Join Git In and start tracking your highschool stats. All the things that make you stand out as an all star student, musician, athelete and leader. One part score card, two parts highlight reel; you'll be a rockstar applicant in no time.</p>
            </div>
          </div>
        </li>
        <li style="width:100%;" class="timeline-inverted">
          <div class="timeline-badge primary"><i id="glyph-white" class="glyphicon glyphicon-book"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">My Courses</h4>
            </div>
            <div class="timeline-body">
              <p>        Track your courses, grades and academic progress as it occurs. You'll be able to easily share any achievements with coaches, recruiters. Better stats mean more scholarhips.</p>
            </div>
          </div>
        </li>
        <li style="width:100%;">
          <div class="timeline-badge primary"><i class="glyphicon glyph-white glyphicon-flash"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Sports</h4>
            </div>
            <div class="timeline-body">
              <p> Stand out as a student athlete, track your teams, stats and championships- every season, every year.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted"  style="width:100%;">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Championships</h4>
            </div>
            <div class="timeline-body">
              <p>Upload the winning footage of your championship games. Your highlight reel awaits.</p>
            </div>
          </div>
        </li>
        <li style="width:100%;">
          <div class="timeline-badge primary"><i class="glyphicon glyph-white glyphicon-star-empty"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Highlights</h4>
            </div>
            <div class="timeline-body">
              <p>Don't look back after four years and wonder what you've done. Build a highlight real as you go by logging achievements as they come.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted"  style="width:100%;">
          <div class="timeline-badge primary"><i class="glyphicon glyphicon-thumbs-up"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Accepted!</h4>
            </div>
            <div class="timeline-body">
              <p> You're a rockstar, enjoy your dream college.</p>
            </div>
          </div>
        </li>
    </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-1 col-md-3"></div>
    <div class="col-xs-10 col-md-6 center_form">
          <div class="form-group">
            
              <!-- <div class="panel-body" id="signup_form"> -->
                  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>
            

                    <div class="form-group">
                    <%= f.email_field :email, :class => "form-control", :placeholder => "email" %>
                    </div>

                    <div class="form-group">
                    <%= f.password_field :password, :class => "form-control", :placeholder => "password" %>
                    </div>


                    <div class="form-group">
                    <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "re-enter password" %>
                     </div>

                    <%= f.submit "Create my account", :class => "btn btn-large btn-primary form-control" %>
                  <% end %>
            </div>
      </div>
    </div>
  </div>

  <script>

var data = [
    {
     label: "Sports",
      value: 30,
     color:"#656E75",
     labelColor: 'black',
     labelFontSize: '16'
    },
    {
     label: "Sports",
      value : 50,
     color : "#E2EAE9",
     labelColor: 'black',
     labelFontSize: '16'
    },
    {
     label: "Sports",
      value : 100,
     color : "#679EC9",
     labelColor: 'black',
     labelFontSize: '16'
    },
    {
     label: "Sports",
      value : 40,
     color : "#949FB1",
     labelColor: 'black',
     labelFontSize: '16'
    },
    {
     label: "Sports",
      value : 120,
     color : "#FDA006",
     labelColor: 'black',
     labelFontSize: '16'
    }];
  var ctx = $("#landing_chart").get(0).getContext("2d");
  new Chart(ctx).Doughnut(data);
  </script>



