<h2>Edit Activity</h2>
<div class='col-xs-6'>
  <form id="update_activity" activity-id="<%= @activity.id%>">
    <div>Categories:</div>
    <div>
      <% @categories.each do |category| %>
        <input id="<%= category.id %>" class="categoryCheckboxes" type="checkbox"
          <% if @activity.categories.exists?(category.id) %> checked<% end %>>
        <label for="<%= category.id %>"><%= category.name %></label>
      <% end %>
    </div>
    <div>Body</div>
    <textarea id="activity_body" name="activity[body]" rows="3" cols="60"><%=@activity.body%></textarea><br>
    <div>Title</div>
    <input id="activity_title" type="text" name="activity[title]" value="<%=@activity.title%>"><br>
  </form>
</div>
<%= javascript_include_tag "activities"%>
