<header class="large">
<!--  -->

  <div class="container">  
    <div class="row student">
      <div class="col-sm-3 student_pic">
        <center><%= image_tag((current_user.profile.image || "http://allthingseblog.com/wp-content/uploads/2013/06/circle-profile.jpg"), width: "250px", height:"250px", class: "profile_pic") %></center>
      </div>

      <div class="col-sm-6 student_info">

        <div class="users_name">
            <h1><%= current_user.profile.first_name || "First Name" %> <%= current_user.profile.last_name || "Last Name" %></h1>
        </div>

        <div class="school_story">
          
          <h3>
          <%= @profile.school%>
          <br>
          <%= @profile.expected_graduation %>
          <%= @profile.city %>, <%= @profile.state %>
          <br>
          GPA: 4.0, SAT: 1600
          <br>
        </h3>
          
        </div>
      </div>
  </div>


</header>

<section>


  <div class="container">

    <div class="main-content">

      <div class="list_of_activities">
          <div id="activities">
          </div>
          
            <div id="add_act_button" class="panel panel-default footer">
              <a href="#add_activity_modal" data-toggle="modal">
                <div class="panel-body">
                  <center><font size="34"><h2><i class="glyphicon glyphicon-plus"></i></h2></font></center>
                </div>
              </a>
            </div>
      </div>

      <div class="graphicals">
        <canvas id="category_chart_canvas" width="800" height="400"></canvas>
        <br>
        <canvas id="category_by_time_canvas" width="800" height="400"></canvas>
      </div>

    </div>

  </div>

</section>

















<div class="modal fade" id="add_activity_modal" role="dialog"> 
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form id="add_activity" class="to_hide">
          <input id="activity_title" type="text" name="activity[title]" placeholder="What is your activity?"><br>
          <div>Categories:</div> <!-- checkboxes -->
            <div>
              <% @categories.each do |category| %>
                <input id="<%= category.id %>" class="categoryCheckboxes" type="checkbox">
                <label for="<%= category.id %>"><%= category.name %></label>
              <% end %>
            </div>     
        </form>
      </div>
    </div>
  </div>
</div> 







  







<script>
  // calling /categories.json, it is returned as data, 
  // then passing that get request into chartdata
  $.ajax({
    url: "/categories.json",
    method: "GET"
  }).done(function(data){
    var chartdata = data;
    var datalabels = [];
    var activity_counts = [];
    var content_counts =[];
    var time = [];


    // adding jquery to loop through data
    $(chartdata).each(function(index, item) {
      //  passing each item and collecting the item.name ('sports')
      datalabels.push(item['name']);
      // activity_counts.push(item['activity_count']);
      content_counts.push(item['content_count']);
    });
    console.log(datalabels);
    console.log(content_counts);
    
    var barData = {
      labels : datalabels,
      datasets : [
        {
          fillColor : "rgba(73,188,170,0.4)",
          strokeColor : "rgba(72,174,209,0.4)",
          data : content_counts
        }
      ]
    };

    var category_graph = document.getElementById("category_chart_canvas").getContext("2d");      
    new Chart(category_graph).Bar(barData); //is currently only printing last chart
  });

$.ajax({
    url: "/categories.json",
    method: "GET"
  }).done(function(data){
    var chartdata = data;
    var datalabels = [];
    var activity_counts = [];
    var content_counts =[];
    var time = [];
    var name = ["sports", "volunteer", "community_service"]
    var category1 = [65,59,90,81,56,55,40];
    var category2 = [45,48,55,65,59,90,81];
    var category3 = [81,56,55,45,90,81,65];

    // adding jquery to loop through data
    $(chartdata).each(function(index, item) {
      //  passing each item and collecting the item.name ('sports')
      datalabels.push(item['name']);
      // activity_counts.push(item['activity_count']);
      content_counts.push(item['content_count']);
    });
    console.log(datalabels);
    console.log(content_counts);

    var lineData = {
      labels : ["09/12","10/12","11/12","12/12","1/13","2/13","3/13"],

      datasets : [
        {
          fillColor : "rgba(220,220,220,0.5)",
          strokeColor : "rgba(220,220,220,1)",
          pointColor : "rgba(220,220,220,1)",
          pointStrokeColor : "#fff",
          data : category1,
          name : name[0]
        },
        {
          fillColor : "rgba(151,187,205,0.5)",
          strokeColor : "rgba(151,187,205,1)",
          pointColor : "rgba(151,187,205,1)",
          pointStrokeColor : "#fff",
          data : category2,
          name : name[1]
        },
        {
          fillColor : "rgba(151,187,205,0.5)",
          strokeColor : "rgba(151,187,205,1)",
          pointColor : "rgba(151,187,205,1)",
          pointStrokeColor : "#fff",
          data : category3,
          name : name [2]
        }
      ]
    }

    var category_line_graph = document.getElementById("category_by_time_canvas").getContext("2d");
    new Chart(category_line_graph).Line(lineData);
  });
</script>
