<div class="container">
    <%= render partial: "/profiles/show", profile: current_user.profile %>
    <canvas id="category_chart_canvas" width="600" height="400"></canvas>
    <h2>Add an Activity</h2>
    <form id="add_activity">
      <div>Categories:</div> <!-- checkboxes -->
        <div>
          <% @categories.each do |category| %>
            <input id="<%= category.id %>" class="categoryCheckboxes" type="checkbox">
            <label for="<%= category.id %>"><%= category.name %></label>
          <% end %>
        </div>
      <div>Body</div>
      <textarea id="activity_body" name="activity[body]" rows="3" cols="60"></textarea><br>
      <div>Title</div>
      <input id="activity_title" type="text" name="activity[title]"><br>
    </form>
    <h2>Activity List</h2>
    <br>
    <br>
    <div id="activities">
    </div>
</div>

<script>
  // calling /categories.json, it is returned as data, 
  // then passing that get request into chartdata
  $.ajax({
    url: "/categories.json",
    method: "GET"
  }).done(function(data){
    var chartdata = data;
    var datalabels = [];
    var activity_counts = [];
    var content_counts =[];

    $(chartdata).each(function(index, item) {
      //  passing each item and collecting the item.name ('sports')
      datalabels.push(item['name']);
      // activity_counts.push(item['activity_count']);
      content_counts.push(item['content_count']);
    });

    // adding jquery to loop through data
    console.log(datalabels)
     var barData = {
        labels : datalabels,
        datasets : [
          {
            fillColor : "rgba(73,188,170,0.4)",
            strokeColor : "rgba(72,174,209,0.4)",
            data : content_counts
          }
        ]
      };
      var category_graph = document.getElementById("category_chart_canvas").getContext("2d");

      new Chart(category_graph).Bar(barData);
  });
</script>
<%= javascript_include_tag "activities"%>
