<div class="container">
      <%= render partial: "/profiles/show" %>
      <h2><%= @activity.title %>  
        <%= link_to("Delete", @activity, method: :delete, class: "btn btn-danger", data: {confirm: "Delete this activity: Are you sure?"}) %></h2>
        <%= link_to("Edit", edit_activity_path(@activity), class: "btn btn-warning") %>
      <br>
  </div>
  <div>
    <% unless @activity.categories.empty? %>
      Categories:<br>
      <% @activity.categories.each do |category| %>
        <%= category.name %><br>
      <% end %>
    <% end %>
  <div>
<div id="container">

      <div id="content" activity-id="<%= @activity.id %>">

      </div>    

</div>
    <div class="panel panel-default">
      <div class="panel-body" id="content_form">
        <form id='add_activity_content' activity-id="<%= @activity.id %>">
          <input id='content_title'type='text' name='content[title]' placeholder="describe an accomplishment"/>
          <br>
          <button type="button" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="panel-body" id="image_form">
      <h4>Or Add a image or video</h4>
        <div>
          <%= s3_uploader_form callback_url: "/activities/#{@activity.id}/content/add_pic",
             id: "s3_uploader",
             callback_param: "profile[image]",
             expiration: 2.hours.from_now.utc.iso8601,
             callback_method: "POST",
             max_file_size: 10.megabytes do %>
          <%= file_field_tag :file, multiple: false, class: "file-chooser-button" %>
        <% end %>
      </div>
      </div>
      <div id="uploads_container"></div>
    </div>
</div>
       
<%= javascript_include_tag "content"%>
<script>
  $(document).ready(function(){

    var photo_width = $('#content_photo').css('width');
    $('#content_tile').css('width', photo_width);
    var content_width = $('#content_tile').css('width');
      
  });

  $(function() {
    $('#s3_uploader').S3Uploader({
      remove_completed_progress_bar: false,
      progress_bar_target: $('#uploads_container')
    });

    $('#s3_uploader').bind('s3_upload_failed', function(e, content) {
      return alert(content.filename + ' failed to upload. Error: ' + content.error_thrown);
    });

    $('#s3_uploader').bind('ajax:success', function(e, data) {
      window.location = data["url"];
    });

  });
</script>
