<%= render "layouts/userprofile" %>


<div class="show_padding">
</div>


<section class="act_show_section">

<br>

<div class="container activity_paper">

    <center><h1><%= @activity.title %></h1>
    </center>
      <div class="wrapper buttons">
        <a href="#edit_activity_modal" data-toggle="modal">
          <button>
           Edit
          </button>
        </a>
        <%= link_to(@activity, 
          method: :delete, 
          data: {confirm: "Are you sure you want to delete this activity and all the content associated with it?"}
          ) do %>
          <button>
            Delete
          </button>
        <% end %>
        <a href="#add_content_modal" data-toggle="modal">
          <button>
            Add an accomplishment...
          </button>
        </a>
</div>

<div class="button_padding">
</div>

    
      



<div class="row act_content">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 content_column">
        <div id="content" activity-id="<%= @activity.id %>"></div>
        </div>
  </div>
</div>

  <div>
    <% unless @activity.categories.empty? %>
      Categories:<br>
      <% @activity.categories.each do |category| %>
        <%= category.name %><br>
      <% end %>
    <% end %>
  <div>
</div>


<!-- THE ORIGINAL, WORKING BUT SLOPPY EDIT FORM -->

<div class="modal fade" id="edit_activity_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form id="update_activity" class="to_hide" activity-id="<%= @activity.id %>" >
          <input id="activity_title" type="text" name="activity[title]" value="<%= @activity.title %>" autofocus=true>
          <div>
            <div class="well" style="max-height: 300px;overflow: auto;">
              <% @categories.each do |category| %>
                <input id="<%= category.id %>" class="categoryCheckboxes" type="checkbox"
                  <% if @activity.categories.exists?(category.id) %> checked<% end %>>
                <label for="<%= category.id %>"><%= category.name %></label>
              <% end %>
            </div>
          </div>   
          <input id="activity_body" type="text" name="activity[body]" value="<%= @activity.body %>">
          <div id="submit_edited_activity" class="btn btn-primary" style="width: 70px; height: 30px;">Submit</div>
        </form>
      </div>
    </div>
  </div>
</div> 





<!-- THE EDIT FORM MADE FROM ADD FORM -->

<div class="modal fade" id="edit_activity_modal" role="dialog"> 
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form id="update_activity" class="to_hide">
          <input id="activity_title" type="text" name="activity[title]" placeholder="<%= @activity.title %>" autofocus=true>
            <div class="well" style="max-height: 300px;overflow: auto;">
              <div class="list-group checked-list-box">
                <% @categories.each do |category| %>
                  <div id="<%= category.id %>" class="list-group-item"><%= category.name %></div>
                <% end %>
              </div>
            </div>
          <input id="activity_body" type="text" name="activity[title]" placeholder="Provide some details...">
            <div id="submit_activity" class="btn btn-primary" style="width: 70px; height: 30px;">Submit</div>   
          </div>   
        </form>
      </div>
    </div>
  </div>
</div> 










<div class="modal fade" id="add_content_modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

                <form id='add_activity_content' activity-id="<%= @activity.id %>">
                  <input id='content_title'type='text' name='content[title]' placeholder="describe an accomplishment" autofocus=true/>
                </form>
                <div class="panel-body" id="image_form" activity-id="<%= @activity.id %>">
                    <div>
                      <%= s3_uploader_form callback_url: "/activities/#{@activity.id}/content/add_pic",
                         id: 'content_s3_uploader',
                         callback_param: 'profile[image]',
                         expiration: 2.hours.from_now.utc.iso8601,
                         callback_method: 'POST',
                         max_file_size: 10.megabytes do %>
                        <%= file_field_tag :file, multiple: false, class: 'file-chooser-button' %>
                      <% end %>
                    </div>
                    <div  id="content_submit_button" class="btn btn-primary">Submit</div>
                </div>
                <div id='uploads_container'>
                </div>

      </div>
    </div>
  </div>
</div>
</section>

<script>
  $(function() {
    var add_content_title = function(){
      u.additional_data({title: $('#image_content_title').val()});
      return true;
    };

    var u = $('#content_s3_uploader').S3Uploader({
      remove_completed_progress_bar: false,
      before_add: add_content_title
    });

    $('#content_s3_uploader').bind('s3_upload_failed', function(e, content) {
      return alert(content.filename + ' failed to upload. Error: ' + content.error_thrown);
    });

    $('#content_s3_uploader').bind('ajax:success', function(e, data) {
      window.location = data["url"];
    });
  });
</script>
