<div>
  <div>
    Title: <%= @activity.title %>
  </div>
  <div>
    Body: <%= @activity.body %>
  </div>
    <% unless @activity.categories.empty? %>
      Categories:<br>
      <% @activity.categories.each do |category| %>
        <%= category.name %><br>
      <% end %>
    <% end %>
  <div>
  </div>
  <div id="content" activity-id="<%= @activity.id %>">
  </div>    
  <div>
    <form id='add_activity_content' activity-id="<%= @activity.id %>">
      <input id='content_title'type='text' name='content[title]'/>
    </form>
  </div>
  <br>
  <%= link_to("Edit", edit_activity_path(@activity), class: "btn btn-warning") %>
  <%= link_to("Delete", @activity, method: :delete, class: "btn btn-danger", data: {confirm: "Delete this activity: Are you sure?"}) %>
  </div>
<%= javascript_include_tag "content"%>